*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: initial;
}
.logo img{
    width: 60px;
    border: 3px solid blanchedalmond;
    border-radius:200%;
    /* margin-top: 26px; */
    margin-right: 30px;
    cursor: pointer;
}
.navbar{
    background-color: black;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0;  
}
.item {
    /* width: 50%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
   
   

}
.navbar li{
    list-style: none;
    display: flex;
    padding: 10px 10px;   
   
}
.navbar li a{
    text-decoration: none;
    color: rgb(137, 17, 133)    ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin:20px ;
    padding: 10px ;


}
.navbar li a:hover{
    color: rgb(20, 12, 13);
}
.right{
    width: 40%;
    text-align: right;
    padding: 0px 25px;
 

}
.background{
    background:url('../img/tpp.jpg');
    background-size: cover;



}
.firstsection{
    height: 100vh;


}
.box-main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 50%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.secondhalf{
    width: 30%;

    
}
.secondhalf img{
    width: 60%;
    display: block;
    margin:  70px auto;
    border: 3px solid blue;
    border-radius: 150%;
    
    
}
.bigtext{
    font-size: 40px;
    position: relative;
    /* animation-name: text; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* animation-timing-function: ease-in-out; */
    animation-delay: 2s;
    animation-direction : forwards; 

}
@keyframes text{
    from {
        left: 0px;
    }
    to{
        left: 200px;
    }
}
.smallbig{
    font-size: 25px;

}
.btn{
    font-size: 15px;
    padding: 8px 20px;
    margin: 8px 4px;
    border: 2px solid white ;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background: none;
}
.btn:hover{
    color: rgb(233, 19, 19);
    background-color: rgb(10, 11, 11);

}
.btns{
    vertical-align: middle;
    cursor: pointer;
}
.btns:hover{
    color: rgb(233, 19, 19);

}
.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    
}
.left{
  
    flex-direction: row-reverse;
    
}
.paras{
    padding: 0px 66px;
}

.contact{
    background-color: aliceblue;
    height: 580px;
    /* text-align: center; */
}
.thumbnail img{
    height: 300px;
    width:350px;
    border: 2px solid beige;
    border-radius: 50px;
}
.sectiontag{
    text-decoration: underline;
}
h2{
    justify-content: center;
    text-align: center;    
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
.details{
    max-width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;


}
.input {
    margin: 15px ;
    padding: 10px;
    /* outline: none; */
}
.su{

    margin: 20px auto;
    background-color: black;
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
}
.footer{
    height: 50px;
    background-color: black;
}
.text-footer{
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    padding: 15px 0;

}